
body {
    color: rgb(5, 31, 10);
}

.row {
    margin: center !important;
   padding-left: 8%;
}

.card-Image-fluid {
    margin: 3%;
    max-width:20vw;
    max-height:20vh;
    min-width:93%;
    min-width:63%;

}

.main {
background-image: url("./Images/curtains2.jpg");
background-position: center;
background-size:cover
}


.card {
    margin: 3%;
    width: 40%;
    flex-basis: unset;
    border-style: none;
    min-width: 400px;
    opacity: 0.85;
    background-color: rgb(241, 241, 241);
    --box-shadow-color: rgb(63, 70, 57);
    box-shadow: 3px 4px 5px var(--box-shadow-color);

 
}

h2 {
    color: rgb(241, 241, 241);
    font-size: 40px;
}
h3 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

hr.my-4 {
    color: rgb(241, 241, 241) !important;
    
}

.connect {
    margin-bottom: 60px;
}
