/* Jumbotron */

.jumbotron{
    height: 500px;  
     margin-top:60px;
    margin-bottom: 3%;
    background-image: url("./Images/curtains2.jpg");
    background-position: center;
    background-size:cover

}

.lead {
    color: whitesmoke;
    margin-top: 40px;
}

h1{
 margin: center;
 color: whitesmoke;
}

#myPicture {
    width: 11vw !important;
    height:25vh !important;
    border-radius: 10px;
    --box-shadow-color: rgb(27, 31, 24);
    box-shadow: 5px 6px 7px var(--box-shadow-color);
    margin-top: 40px;
}
/* projects */

.carousel-inner {
    min-height: 300px;
    margin:3%;
  
}

.carousel-control-next,
.carousel-control-prev , .carousel-indicators {
    filter: invert(100%);
}
.card-Image-fluid, .card-text {
    max-height: 240px;
    margin: 3%;
}

.carousel-inner > .carousel-item > .card-Image-fluid {
    --box-shadow-color: rgb(63, 70, 57);
    box-shadow: 3px 4px 5px var(--box-shadow-color);
}



/* navbar */

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:rgb(75, 88, 65) !important;
    outline: rgba(6, 66, 16, 0.293) auto 1px; 
}