/* Jumbotron */

.jumbotron{
    height: 500px;  
     margin-top:60px;
    margin-bottom: 3%;
    background-image: url("./Images/pexels-eberhard-grossgasteiger-1743392.jpg");
    background-position: center;
    background-size:cover

}

.lead {
    color: whitesmoke;
}

h1{
 margin: center;
}
img {
    margin: 3%;
    max-width: 15vw;
    max-height: 15vh;
}



