
.card-Image-fluid {
    margin: 3%;

    max-width:20vw;
    max-height:20vh;
    min-width:93%;
    min-width:63%;

}

.main {
background-image: url("../Images/pexels-eberhard-grossgasteiger-1743392.jpg");
background-position: center;
background-size:cover
}


.card {
    margin: 3%;
    width: 40%;
    flex-basis: unset;
    border-style: none;
    min-width: 400px;
    opacity: 0.85;
    background-color: rgb(241, 241, 241);
}

h5 {
    font-size: 30px;
}
